<p>
  <b><i><a [href] = "this.viewEncapsulation">Инкапсуляция стилей</a></i></b> - в Angular стили CSS компонентов инкапсулируются в
  представление компонента и не влияют на остальную часть приложения. Чтобы контролировать, как эта инкапсуляция происходит для каждого
  компонента, возможно установить режим инкапсуляции представления в метаданных компонента(@Component()). Выберите один из следующих
  режимов:
</p>
<ul>
  <li><i>ShadowDom</i> - инкапсуляция представления использует собственную реализацию теневого DOM браузера, чтобы присоединить
    теневую DOM к элементу узла компонента, а затем помещает представление компонента внутри этой теневой DOM. Стили компонента
    включены в теневой DOM;
  </li>
  <li><i class="red">Emulated</i> - инкапсуляция представления (по умолчанию) имитирует поведение теневой модели DOM путем предварительной
    обработки (и переименования) кода CSS для эффективного применения CSS к представлению компонента;</li>
  <li><i class="blue">None</i> - означает, что Angular не выполняет инкапсуляцию представления. Angular добавляет CSS к глобальным стилям.
    Обсуждаемые ранее правила определения объема, изоляции и защиты не применяются. По сути, этот режим аналогичен вставке стилей
    компонента в HTML.</li>
</ul>
