<p><b><i><a [href] = "this.directives">Директивы</a></i></b> - это классы, которые добавляют дополнительное поведение к
  HTML-элементам. Существуют следующие типы директив:</p>
<ul>
  <li><b>Встроенные директивы атрибутов</b> - изменяют внешний вид или поведение элемента, компонента или другой директивы. Относятся:
    <ul>
      <!--Каждый ключ объекта class - это имя класса CSS. Если ключ со значением  true, ngClass добавит класс. Если ключ есть false, ngClass удалит класс-->
      <li><i [ngClass] = "this.class"> - [NgClass]</i> - добавляет/удаляет набор классов CSS;</li>
      <!--Позволяет установить нескольких встроенных стилей в зависимости от состояния компонента-->
      <li><i [ngStyle] = "this.currentStyles"> - [NgStyle]</i> - добавляет/удаляет набор стилей HTML;</li>
      <!--Двусторонее связывам свойство класса с HTML-элементом и динамически выводим изменения в span-->
      <li><i> - [(NgModel)]</i> - добавляет двустороннюю привязку данных к элементу HTML-формы.
        <!--        <input type = "text" [(ngModel)] = "this.ngModel">-->
        <!--        <span>{{ this.ngModel }}</span>-->
      </li>
    </ul>
  </li>
  <li><b>Встроенные структурные директивы</b> - изменяют DOM, добавляя/удаляя элементы DOM. Так называются, потому как формируют или изменяют структуру
    DOM, обычно путем добавления/удаления/изменения основных элементов, к которым они прикреплены.
    <ul>
      <!--Структурные директивы возможно помещать в ng-container на тот случай если нет ни одного элемента для отображения, ng-container
       не будет пощен в DOM-->
      <li><i> - *ngIf</i> - условно создает/удаляет подпредставления из шаблона(аналог If);</li>
      <!--если ifDirectives будет false данного элемента в DOM не будет. Применимо и к селекторам компонентов-->
      <!--<div *ngIf = "this.ifDirectives">Это директива *ngIf</div>-->
      <!--Создат для каждого элемента находящегося в items список li, если не будет ни одного элемента в items создаст ul без li-->
      <!--Подходит для тех случаев когда необходимо динамически сгенирировать список, применимо также к селекторам компонентов-->
      <!--Также через index можно получить индекс элемента-->
      <li><i> - *ngFor</i> - повторить узел для каждого элемента в списке(аналог цикла for of);</li>
      <ul>
        <!--<li *ngFor = "let item of this.items; let i = index;">{{ i }} - {{ item }}</li>-->
      </ul>
      <li><i> - *ngSwitch</i> - набор директив для переключения между альтернативными представлениями(аналог switch)</li>
    </ul>
  </li>
  <!--appChangesColor - это пользовательская директива кторая меняет цвет-->
  <li><b [appChangesColor]="this.color">Пользовательские директивы</b> - позволяют пользовательски настроить директиву, которая может
    изменять внешний вид или поведение.
  </li>
</ul>
