<p><b><i><a [href] = "this.componentInteraction">Компонентное взаимодействие</a></i></b> - сценарии взаимодействия компонентов, в
  которых два или более компонента совместно используют информацию:</p>
<ul>
  <li>1. Передача данных от родителя к потомку с привязкой ввода
    <!--При передачи данных от родителя к потомку, в родителе в селекторе потомка, [свойство] потомка связывается со свойством родителя-->
    <!--[name] - свойство потомка-->
    <!--name - свойство родителя-->
    <!--<app-child [name] = "name"></app-child>-->

    <!--При передачи данных от родителя к потомку, в родителе в селекторе птомка, [свойство] ребенка связывается со свойством родителя-->
    <!-- [name] - свойство потомка-->
    <!--name - свойство родителя-->
    <!--<app-child [name] = "name"></app-child>-->
  </li>
  <li>2. Передача данных от родителя к потомку, перехват и изменение входных свойств с помощью Get и Set
    <!--При передачи данных от родителя к потомку, в родителе в селекторе потомка, [свойство] ребенка связывается со свойством родителя-->
    <!--[userName] - свойство потомка-->
    <!--fullName - свойство родителя-->
    <!--<app-child [userName] = "fullName"></app-child>-->
  </li>
  <li>3. Перехватите изменения свойств ввода с помощью ngOnChanges() в потомке
    <!--При перехвате изменения при помощи hook ngOnChanges() мы сначала двухсторонее связываем свойство родителя с input, а после передаем потомку
    и отслеживаем каждое изменение-->
    <!--При передачи данных от родителя к потомку, в родителе в селекторе ребенка, [свойство] ребенка связывается со свойством родителя-->
    <!--[name] - свойство ребенка-->
    <!--name - свойство родителя-->
    <!--<input type = "text" [(ngModel)] = "this.age">-->
    <!--<app-child [age] = "age"></app-child>-->
  </li>
  <li>4. Родитель прослушивает дочернее событие
    <!--Потомок испускает событие экземпляра класса eventEmit с переданным в метод значением, на которое реагирует метод родителя parentUpperCase($event)
   в качестве $event содержится свойство потомка-->
    <!--<app-child (eventEmit) = "parentUpperCase($event)"></app-child>-->
  </li>
  <li>5. Родитель взаимодействует с дочерним элементом, используя локальную(ссылочную) переменную
    <!--Локальная пременная используется для доступа к свойствам и методам потомка. В селектора потомка объявлена ссылочная переменная по которой
     в родители к селектору кнопки по событию клик возможно вызвать метод потомка showLastName(), который в свою очередь тригерит
     метод родителя-->
    <!--<button (click)="childe.showLastName()">Click Parent</button>-->
    <!--<app-child #childe (eventEmit) = "parentUpperCase($event)"></app-child>-->
  </li>
  <li>6. Родитель вызывает потомка при помощи функции с декаратором @ViewChild()
    <!--Возможно обращаться к свойствам и методам потомка при этом не передавая значение через привязку свойств, локальную переменную или прослушивать событие
    на ребенке-->
    <!--<button (click) = "this.valueTransformation()">Changes name</button>-->
    <!--<app-child></app-child>-->
  </li>
  <li>7. Родитель и потомок(-и) общаются с помощью сервиса
    <!--  Родитель и потомок совместно используют службу, интерфейс которой обеспечивает двунаправленную связь внутри семьи-->
  </li>
</ul>
