<p><b><i><a [href] = "this.componentInteraction">Компонентное взаимодействие</a></i></b> - сценарии взаимодействия компонентов, в
  которых два или более компонента совместно используют информацию:</p>
<ul>
  <li>1. Передача данных от родителя к потомку с привязкой ввода
    <!--При передачи данных от родителя к потомку, в родителе в селекторе потомка, [свойство] потомка связывается со свойством родителя-->
    <!--[name] - свойство потомка-->
    <!--name - свойство родителя-->
    <app-child [name] = "name"></app-child>

    <!--При передачи данных от родителя к потомку, в родителе в селекторе птомка, [свойство] ребенка связывается со свойством родителя-->
    <!-- [name] - свойство потомка-->
    <!--name - свойство родителя-->
    <app-child [name] = "name"></app-child>
  </li>
</ul>
