<p><b><i><a [href] = "this.referenceVariables">Ссылочная(шаблонная) переменная в HTML-шаблоне</a></i></b> - помогают использовать
  данные из одной части в другой части HTML-шаблона. С помощью шаблонных переменных возможно выполнять такие задачи, как реагировать
  на ввод данных пользователем или точно настраивать формы приложения. На шаблонную переменную можно ссылаться в любом месте
  HTML-шаблона. Шаблонная переменная ссылаеться на элемент в котором объявлена. Структурные директивы, такие как *ngIf, *ngFor ng-template
  выступают в качестве границы за которыми невозможно получить доступ к шаблонным переменным.</p>

<!--<input type = "text" #textValue placeholder = "Введите значение" (input) = "showText(this.textValue.value)">-->

