<p><b><i><a [href] = "this.routing">Маршрутизация</a></i></b> - представляет собой переход от одного представления(HTML-шаблона) к
  другому в зависимости от заданного URL. Причем навигация может осуществляться и внутри представления. Навигация в Angular приложениях
  происходит без перезагрузки страницы. За организацию маршрутизации в Angular отвечает модуль RouterModule. Хорошей практикой является
  создание отдельного модуля для маршрутизации. Сначала описаются маршруты(routes), после классу RouterModule и его статическому методу
  .forRoot(routes) передаются маршруты, после в HTML-шаблоне описываются переходы по ссылкам, за это отвечает директива routerLink с
  указанием пути, после при помощи тега router-outlet указывается мето куда будет рендерится представление. К маршуритазации в Angular
  относится много классов и событий, связанных с переходами.
</p>
<!--<div class = "main">-->
<!--  <ul>-->
<!--    <li><a routerLink = "/home">Home</a></li>-->
<!--    <li><a routerLink = "/about">About</a></li>-->
<!--    <li><a routerLink = "/contacts">Contacts</a></li>-->
<!--  </ul>-->
<!--</div>-->
<router-outlet></router-outlet>
