<p><b><i><a [href] = "this.pipes">Преобразование данных с помощью Pipe</a></i></b> - это простые функции, которые возможно
  использовать в выраженияx HTML-шаблона, чтобы принимать входное значение и возвращать преобразованное значение. Pipe полезны,
  потому что возможно использовать их во всем приложении, при этом Pipe только визуально модифируют данные, исходные же данные остаются
  неизменными. Pipe возможно чередовать с другими встроенными/пользовательскими Pipe, последовательно преобразуя значение в
  HTML-шаблоне.</p>
<!--<p>{{ this.date |  date | uppercase}}</p>-->
