
<p><b><i><a [href] = "this.dynamicComponents">Динамические компоненты</a></i></b> - создаются уже в скомпилированном приложении
  в момент его работы.  В Angular динамическая компиляция компонентов реализована через сервис ComponentFactoryResolver. Для отображения
  такого компонента сперва необходимо определить место, где он будет располагаться. Местом служит ссылка на представление типа
  ViewContainerRef.</p>
<!--<button (click)="addComponent()">Add Style Component</button>-->
<ng-container></ng-container>
