<p>
  <b><i><a [href] = "this.hooks"> Life cycle hooks</a></i></b> - экземпляр компонента имеет жизненный цикл, который начинается, когда Angular создает экземпляр класса
  компонента и отображает представление компонента вместе с его дочерними представлениями. Жизненный цикл продолжается с обнаружением изменений, поскольку
  Angular проверяет, когда изменяются свойства, привязанные к данным, и обновляет как представление, так и экземпляр компонента по мере необходимости. Жизненный
  цикл заканчивается, когда Angular уничтожает экземпляр компонента и удаляет его визуализированный шаблон из DOM.
</p>
