<app-hooks [value]="title"></app-hooks>
<input type = "text" [(ngModel)]="title">
<hr>
<!--Свойство из дочернего компонента связываем со свойством из родительского компонента-->
<!--value - свойство из дочернего компонента-->
<!--title - свойство из родительского компонента-->
<app-encapsulation-style></app-encapsulation-style>
<hr>
<app-parent ></app-parent>
<hr>
<app-component-style></app-component-style>
<hr>
<app-content-parent></app-content-parent>
<hr>
<app-interpolation></app-interpolation>
<app-statements></app-statements>
<app-pipes></app-pipes>
<app-binding></app-binding>
<app-attribute-binding></app-attribute-binding>
<app-event-binding></app-event-binding>
<app-reference-variables></app-reference-variables>
<hr>
<app-directives></app-directives>
<hr>
<app-dependency-injection></app-dependency-injection>
<hr>
<app-manipulating-dom-elements></app-manipulating-dom-elements>
<hr>
<app-dynamic-components></app-dynamic-components>
<hr>
<app-main></app-main>
<hr>
<app-forms></app-forms>
