<p><b><i><a [href] = "this.attributeBinding">Привязки атрибутов, классов и стилей</a></i></b> - помогает напрямую устанавливать значения
  для атрибутов и улучшить доступность, динамически стилизовать приложение и одновременно управлять несколькими классами или стилями
  CSS.</p>
<!--Привязка к любому из существуюх атрибутов тега, в данном случае выбран атрибут class-->
<!--<p [attr.class] = "this.class">Привязка к атрибута тега class c названием {{ this.class }}</p>-->
<!--Привязка к любому из существуюх атрибутов тега, в данном случае выбран атрибут class, более коротка версия задать класс тегу-->
<!--<p [class] = "this.class">Привязка к атрибута тега class c названием {{ this.class }}</p>-->
<!--<p [class.italic] = "this.isItalClass">Привязка к атрибута тега class в зависимости от логичеого значения</p>-->
<!--Так класс не применится вне зависимости от логичего значения isItalClass-->
<!--<p [class] = "this.isItalClass">Привязка к атрибута тега class в зависимости от логичеого значения</p>-->
<!--Привязка к атрибуту тега style к свойству color-->
<!--<p [style.color] = "this.classRed">Привязка к атрибута тега style к свойству color</p>-->
