<!--[href] = "this.binding" - тут связан  атрибут тега [href]  со свойством из из компонента-->
<p><b><i><a [href] = "this.binding">Привязка свойств(binding)</a></i></b> - помогает связывать свойства компонента с HTML-шаблоном. С
  помощью привязки свойств возможно выполнять такие действия, как переключать кнопки, программно задавать пути и обмениваться
  значениями между компонентами. Привязка свойства происходит в одном направлени, от свойств компонента к свойству HTML-шаблона.
  При этом привязку данных возможно осуществлять к любому тегу HTML-шаблона и даже к селектору компонента. Привязку свойств возможно
  комбинировать с операторами шаблона, которые реагируют на какое-либо действие пользователя.</p>

